#craigslist-social-navbar {
  top:0px;
  left:0px;
  position: fixed;
  width: 100%;
  z-index: 1001;
  font-weight: normal;
  font-size: 1em;
  font-family: 'Helvetica';
  font-style: normal;
}

.bottom-container, .top-container {
  background-color: rgba(0,163,199,.9);
}
.top-container {
  width: 100%;
  overflow-x: scroll;
  overflow-y: none;
}

.top-container .bubble-head {
  top: -20px;
  right: -20px;
  position: absolute;
}

.top-container * {
  padding: 0;
  margin: 0;
}
.recent-search-item {
  padding:15px;
  cursor: pointer;
  margin-top: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  height:170px;
  margin-right: 20px;
  border-radius: 3px;
  box-shadow: 0 1px 1px #444;
}
.recent-search-item:hover {
  background-color: rgba(0,50,50,.2);
  border-radius: 3px;
}
.top-container > * {
  margin-top: 12px;
  float: left;
  position: relative;
  text-overflow: ellipsis;
  width: 140px;
}
.top-container img {
  max-width: 130px;
  max-height: 100px;
  margin: 0 auto;
  position: relative;
  z-index: 1002;
  overflow-x: none;
  overflow-y: scroll;
}
.top-container .tooltip img {
  z-index: 9999;
}
.top-container h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size:1em;
  color: #eee;
  max-height: 36px;
  text-shadow: -1px 1px 1px #222;
}

.bottom-container {
  box-shadow: 0px 1px 2px #000;
}

.top-container .bubble-head img {
  border-radius: 30px;
  border: 2px solid #fff;
  position: relative;
}

#craigslist-social-navbar input {
  padding: 10px;
  box-sizing border-box;
  background: #fff;
  background: rgba(255,255,255,.9);
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  outline: 0 none;
  margin: 0;
  -webkit-appearance: textfield;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  font: -webkit-small-control;
  color: initial;
  -webkit-writing-mode: horizontal-tb;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  cursor: auto;
  border: 1px solid #888;
  width: calc(100% - 160px);
  font-size:1.35em;
  margin-right: 10px;
  border-radius: 2px;
}

#craigslist-social-navbar .toggle-network-mode {
  display: inline-block;
}

#craigslist-social-navbar .profile-image {
  padding:0;
  border-radius: 35px;
  border: 2px solid #fff;
  vertical-align: middle;
}

#craigslist-social-navbar.error {
  color: #fff;
  text-shadow: 0 -1px 1px #000;
  background-color: #d74e45;
}

#craigslist-social-navbar a.fb-btn {
  border: none;
  background: #bdc3c7;
  color: #ffffff;
  padding: 9px 12px 10px;
  line-height: 22px;
  text-decoration: none;
  text-shadow: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
  background-color: #3498db;
  font-size: 16.996px;
  line-height: 20px;
  padding: 12px 18px 13px;
  cursor: pointer;
  text-shadow: 0 0 1px #000;
  text-align: right;
}

#craigslist-social-navbar a.fb-btn:hover {
  background: #5ba2cc;
  text-shadow: 0 0 2px #000;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix {
  display: inline-block;
}
html[xmlns] .clearfix {
  display: block;
}
* html .clearfix {
  height: 1%;
}

.tooltip:hover:after {
  content: attr(data-name);
  line-height:13px;
  vertical-align: baseline;
  padding: 3px;
  background: #111;
  border-radius: 2px;
  font-size:.7em;
  letter-spacing:.12em;
  bottom: -15px;
  color: #fff;
  font-family: sans-serif;
  font-weight: normal;
  text-shadow: none;
  right: 5px;
  position: absolute;
  z-index: 2002;
  white-space: nowrap;
}

.tooltip:hover:before {
  border: solid;
  border-color: #111 transparent;
  border-width: 0px 9px 9px 9px;
  bottom: -1px;
  content: "";
  left: 15px;
  position: absolute;
  z-index: 2003;
}

.injected-result {
  display: block;
  background-color: white;
  border-bottom: 1px solid #d8d8d8;
  padding: 10px;
  margin: 5px 10px;
  margin-bottom: 0;
  box-sizing: border-box;
  background-color: #eee;
  box-shadow: 0 1px 1px #444;
}
.left {
  float: left;
}
.search-listing-image-wrapper {
  margin-right: 10px;
  padding: 3px;
  border-style: solid;
  border-width: 1px;
  border-color: #ddd #cacaca #acacac;
  line-height: 0;
  display: inline-block;
  background-color: #fff;
  position: relative;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 4px 2px -2px rgba(0,0,0,0.1),0 0 0 #000;
  box-shadow: 0 4px 2px -2px rgba(0,0,0,0.1),0 0 0 #000;
}
#injected-results-container a {
  color: #1d95cb;
  text-decoration: none;
}

#injected-results-container img {
  vertical-align: middle;
}
#injected-results-container .user-icon {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  line-height: 0;
  display: inline-block;
  position: relative;
  z-index: 0;
  width: 48px;
  height: 48px;
  background-size: 48px 48px;
  display: inline-block;
  -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.5),0 0 0 #000;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.5),0 0 0 #000;
  margin: 0 10px 10px 0;
}


